<!DOCTYPE html>
<html lang="zxx">


<head>


    <!-- Meta -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">

    <!-- Title -->
    <title>..:: LIBRARIA ::..</title>

    <!-- Favicon -->
    <link href="{{ url_for('static', filename='images/favicon.ico') }}" rel="icon" type="image/x-icon"/>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CLato:100,100i,300,300i,400,400i,700,700i,900,900i"
          rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css"/>

    <!-- Mobile Menu -->
    <link href="{{ url_for('static', filename='css/mmenu.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/mmenu.positioning.css') }}" rel="stylesheet" type="text/css"/>

    <!-- Stylesheet -->
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css"/>
</head>

<body class="layout-v3">

<!-- Start: Header Section -->
{% block header %}
    {% include 'base/header.html' %}
{% endblock %}
<!-- End: Header Section -->

<!-- Start: Page Banner -->
<section class="page-banner services-banner">
    <div class="container">
        <div class="banner-header">
            <h2>Books & Media Listing</h2>
            <span class="underline center"></span>
            <p class="lead">Proin ac eros pellentesque dolor pharetra tempo.</p>
        </div>
        <div class="breadcrumb">
            <ul>
                <li><a href="/">Home</a></li>
                <li>Books & Media</li>
            </ul>
        </div>
    </div>
</section>
<!-- End: Page Banner -->

<!-- Start: Products Section -->
<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="books-full-width">
                <div class="container">
                    <!-- Start: Search Section -->
                    <section class="search-filters">
                        <div class="filter-box">
                            <h3>What are you looking for at the library?</h3>
                            <form method="get">
                                <div class="col-md-4 col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Search by Keyword" id="keywords"
                                               name="keywords" type="text">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="form-group">
                                        <select name="catalog" id="catalog" class="form-control">
                                            <option>Search the Catalog</option>
                                            <option>Catalog 01</option>
                                            <option>Catalog 02</option>
                                            <option>Catalog 03</option>
                                            <option>Catalog 04</option>
                                            <option>Catalog 05</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="form-group">
                                        <select name="category" id="category" class="form-control">
                                            <option>All Categories</option>
                                            <option>Category 01</option>
                                            <option>Category 02</option>
                                            <option>Category 03</option>
                                            <option>Category 04</option>
                                            <option>Category 05</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control" type="submit" value="Search">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="clear"></div>
                    </section>
                    <!-- End: Search Section -->
                    <div class="booksmedia-fullwidth">
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<!-- End: Products Section -->

<!-- Start: Footer -->
{% block footer %}
    {% include 'base/footer.html' %}
{% endblock %}
<!-- End: Footer -->

<!-- jQuery Latest Version 1.x -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.12.4.min.js') }}"></script>

<!-- jQuery UI -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>

<!-- jQuery Easing -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>

<!-- Bootstrap -->
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<!-- Mobile Menu -->
<script type="text/javascript" src="{{ url_for('static', filename='js/mmenu.min.js') }}"></script>

<!-- Harvey - State manager for media queries -->
<script type="text/javascript" src="{{ url_for('static', filename='js/harvey.min.js') }}"></script>

<!-- Waypoints - Load Elements on View -->
<script type="text/javascript" src="{{ url_for('static', filename='js/waypoints.min.js') }}"></script>

<!-- Facts Counter -->
<script type="text/javascript" src="{{ url_for('static', filename='js/facts.counter.min.js') }}"></script>

<!-- MixItUp - Category Filter -->
<script type="text/javascript" src="{{ url_for('static', filename='js/mixitup.min.js') }}"></script>

<!-- Owl Carousel -->
<script type="text/javascript" src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>

<!-- Accordion -->
<script type="text/javascript" src="{{ url_for('static', filename='js/accordion.min.js') }}"></script>

<!-- Responsive Tabs -->
<script type="text/javascript" src="{{ url_for('static', filename='js/responsive.tabs.min.js') }}"></script>

<!-- Responsive Table -->
<script type="text/javascript" src="{{ url_for('static', filename='js/responsive.table.min.js') }}"></script>

<!-- Masonry -->
<script type="text/javascript" src="{{ url_for('static', filename='js/masonry.min.js') }}"></script>

<!-- Carousel Swipe -->
<script type="text/javascript" src="{{ url_for('static', filename='js/carousel.swipe.min.js') }}"></script>

<!-- bxSlider -->
<script type="text/javascript" src="{{ url_for('static', filename='js/bxslider.min.js') }}"></script>

<!-- Custom Scripts -->
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>


</html>