<!DOCTYPE html>
<html lang="zxx">


<head>

    <!-- Meta -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">

    <!-- Title -->
    <title>..:: LIBRARIA ::..</title>

    <!-- Favicon -->
    <link href="{{ url_for('static', filename='images/favicon.ico') }}" rel="icon" type="image/x-icon"/>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CLato:100,100i,300,300i,400,400i,700,700i,900,900i"
          rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css"/>

    <!-- Mobile Menu -->
    <link href="{{ url_for('static', filename='css/mmenu.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/mmenu.positioning.css') }}" rel="stylesheet" type="text/css"/>

    <!-- Stylesheet -->
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css"/>
</head>


<body class="layout-v3">

<!-- Start: Header Section -->
{% block header %}
    {% include 'base/header.html' %}
{% endblock %}
<!-- End: Header Section -->

<!-- Start: Page Banner -->
<section class="page-banner services-banner">
    <div class="container">
        <div class="banner-header">
            <h2>Signin</h2>
            <span class="underline center"></span>
            <p class="lead">Proin ac eros pellentesque dolor pharetra tempo.</p>
        </div>
        <div class="breadcrumb">
            <ul>
                <li><a href="/">Home</a></li>
                <li>Signin</li>
            </ul>
        </div>
    </div>
</section>
<!-- End: Page Banner -->
<!-- Start: Cart Section -->
<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="signin-main">
                <div class="container">
                    <div class="woocommerce">
                        <div class="woocommerce-login">
                            <div class="company-info signin-register">
                                <div class="col-md-5 col-md-offset-1 border-dark-left">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="company-detail bg-dark margin-left">
                                                <div class="signin-head">
                                                    <h2>Sign in</h2>
                                                    <span class="underline left"></span>
                                                </div>
                                                <form class="login" method="post">
                                                    <p class="form-row form-row-first input-required">
                                                        <label>
                                                            <span class="first-letter">Barcode or Username</span>
                                                            <span class="second-letter">*</span>
                                                        </label>
                                                        <input type="text" id="username" name="username"
                                                               class="input-text">
                                                    </p>
                                                    <p class="form-row form-row-last input-required">
                                                        <label>
                                                            <span class="first-letter">Pin</span>
                                                            <span class="second-letter">*</span>
                                                        </label>
                                                        <input type="password" id="password" name="password"
                                                               class="input-text">
                                                    </p>
                                                    <div class="clear"></div>
                                                    <div class="password-form-row">
                                                        <p class="form-row input-checkbox">
                                                            <input type="checkbox" value="forever" id="rememberme"
                                                                   name="rememberme">
                                                            <label class="inline" for="rememberme">Remember me</label>
                                                        </p>
                                                        <p class="lost_password">
                                                            <a href="#">Lost your Pin?</a>
                                                        </p>
                                                    </div>
                                                    <input type="submit" value="Login" name="login"
                                                           class="button btn btn-default">
                                                    <div class="clear"></div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 border-dark new-user">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="company-detail new-account bg-light margin-right">
                                                <div class="new-user-head">
                                                    <h2>Create New Account</h2>
                                                    <span class="underline left"></span>
                                                    <p>If no barcode has been assigned for your account, please contact
                                                        the library.</p>
                                                </div>
                                                <form class="login" method="post">
                                                    <p class="form-row form-row-first input-required">
                                                        <label>
                                                            <span class="first-letter">Barcode</span>
                                                            <span class="second-letter">*</span>
                                                        </label>
                                                        <input type="text" id="username1" name="username"
                                                               class="input-text">
                                                    </p>
                                                    <p class="form-row input-required">
                                                        <label>
                                                            <span class="first-letter">Password</span>
                                                            <span class="second-letter">*</span>
                                                        </label>
                                                        <input type="password" id="password1" name="password"
                                                               class="input-text">
                                                    </p>
                                                    <div class="clear"></div>
                                                    <input type="submit" value="Signup" name="signup"
                                                           class="button btn btn-default">
                                                    <div class="clear"></div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<!-- End: Cart Section -->

<!-- Start: Footer -->
        {% block footer %}
            {% include 'base/footer.html' %}
        {% endblock %}
        <!-- End: Footer -->

        <!-- jQuery Latest Version 1.x -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.12.4.min.js') }}"></script>

        <!-- jQuery UI -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>

        <!-- jQuery Easing -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>

        <!-- Bootstrap -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

        <!-- Mobile Menu -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/mmenu.min.js') }}"></script>

        <!-- Harvey - State manager for media queries -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/harvey.min.js') }}"></script>

        <!-- Waypoints - Load Elements on View -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/waypoints.min.js') }}"></script>

        <!-- Facts Counter -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/facts.counter.min.js') }}"></script>

        <!-- MixItUp - Category Filter -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/mixitup.min.js') }}"></script>

        <!-- Owl Carousel -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>

        <!-- Accordion -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/accordion.min.js') }}"></script>

        <!-- Responsive Tabs -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/responsive.tabs.min.js') }}"></script>

        <!-- Responsive Table -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/responsive.table.min.js') }}"></script>

        <!-- Masonry -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/masonry.min.js') }}"></script>

        <!-- Carousel Swipe -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/carousel.swipe.min.js') }}"></script>

        <!-- bxSlider -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/bxslider.min.js') }}"></script>

        <!-- Custom Scripts -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>


</html>
